.Inbox{
    height: 550px;
    background-color: var(--background);
    position: relative;
    overflow: hidden;
}

.infograph_1{
    position: absolute;
    top: -200px;
    left: -100px;
}

.infograph_2{
    position: absolute;
    right: -100px;
    bottom: -200px;
}

